{% macro open_image_btn(url, title="Go to image") %}
<a class="icon-btn" href="{{url}}" title="{{title}}">
  <div class="icon --file_open"></div>
</a>
{% endmacro %}

{% macro image_hero(image_url=none, attr=none, css_extra="", flex_provided=false) %}
<section class="hero" style="{% if image_url != none %} --img:url('{{image_url}}'); {% endif %} {{css_extra}}">
  {{ caller() }}
  {% if not flex_provided %} <div class="flexfill"></div> {% endif %}
  {% if image_url != none %}
  {{ open_image_btn(image_url) }}
  {% endif %}
</section>
{% if attr != none %}
<div class="hero-attr">
  {{attr}}
</div>
{% endif %}
{% endmacro %}

{% macro sbs_img(url, attrib=none, aspect=none, css_extra="") %}
{% if aspect == none %}
{% set aspect = get_image_aspect(url) %}
{% endif %}
{% if attrib != none %}
<div class="image-attr">
  {{ attrib }}
</div>
{% endif %}
<div class="-image" role="img" style="--img: url('{{url}}'); --min-aspect: {{aspect}}; {{css_extra}}">
  {{ open_image_btn(url) }}
</div>
{% endmacro %}

{% macro single_img(url, attrib=none, aspect=none, css_extra="") %}
{% if aspect == none %}
{% set aspect = get_image_aspect(url) %}
{% endif %}
<section class="single-image">
  <div class="-image" role="img" style="--img: url('{{url}}'); aspect-ratio: {{aspect}}; {{css_extra}}">
    <a href="{{url}}" class="icon-btn" title="Go to image">
      <div class="icon --file_open"></div>
    </a>
  </div>
  {% if attrib != none %}
  <div class="image-attr">
    {{ attrib }}
  </div>
  {% endif %}
</section>
{% endmacro %}