<nav id="main-nav">
  <a class="nav-target --title" href="index.html" data-is-nav-target>
    <span>The Cold War{%if devenv%}*{%endif%}</span>
  </a>
  <div class="flexfill"></div>

  <span class="nav-target--mobile --use-alternate" data-is-nav-target>
    <span class="mobile-only">Menu<span class="icon menu-flipper"></span></span>
    <div class="menu-contents--mobile menu-list--desktop" id="mainmenu-inner">
      <a href="philosophy.html" class="nav-target" data-is-nav-target>
        <span>US/Soviet Philosophy</span>
      </a>

      <a href="timeline.html" class="nav-target" data-is-nav-target>
        <span>Timeline</span>
      </a>

      <span class="nav-target --use-alternate" data-is-nav-target>
        <span class="label">Proxy Wars
          <span class="icon menu-flipper"></span>
        </span>
        <div class="menu-contents">
          <a href="nato.html" class="nav-target" data-is-nav-target>
            <span>NATO v Warsaw Pact</span>
          </a>
          <a href="viet.html" class="nav-target" data-is-nav-target>
            <span>Vietnam</span>
          </a>
          <a href="korea.html" class="nav-target" data-is-nav-target>
            <span>Korea</span>
          </a>
          <a href="latam.html" class="nav-target" data-is-nav-target>
            <span>Latin America</span>
          </a>
          <a href="china.html" class="nav-target" data-is-nav-target>
            <span>China</span>
          </a>
          <a href="iran.html" class="nav-target" data-is-nav-target>
            <span>Middle East / Iran</span>
          </a>
          <a href="afgh.html" class="nav-target" data-is-nav-target>
            <span>Afghanistan</span>
          </a>
          <a href="cuba.html" class="nav-target" data-is-nav-target>
            <span>Cuba</span>
          </a>
          <a href="nuclear.html" class="nav-target" data-is-nav-target>
            <span>Nuclear Arms Race</span>
          </a>
          <a href="space.html" class="nav-target" data-is-nav-target>
            <span>Space Race</span>
          </a>
        </div>
      </span>
      <a href="bib.html" class="nav-target" data-is-nav-target data-unavailable>
        <span>Bibliography</span>
      </a>
    </div>
  </span>
</nav>