{% extends "_content_page.html" %}
{% from "_components.html" import sbs_img, single_img, open_image_btn, image_hero %}
{% block body %}
{% call image_hero(
"https://upload.wikimedia.org/wikipedia/commons/f/f8/Peking_Mausoleum_Mao_Zedong-20110102-RM-210354.jpg",
'<a href="https://commons.wikimedia.org/wiki/File:Peking_Mausoleum_Mao_Zedong-20110102-RM-210354.jpg">Ermell</a>, <a
  href="https://creativecommons.org/licenses/by-sa/4.0">CC BY-SA 4.0</a>, via Wikimedia Commons'
) %}
<h1>China</h1>
{% endcall %}

{{single_img(
'https://upload.wikimedia.org/wikipedia/commons/0/01/Chaing_Kai-shek%27s_Strategy_1947.PNG',
'<a href="https://commons.wikimedia.org/wiki/File:Chaing_Kai-shek%27s_Strategy_1947.PNG">U.S. Army</a>, Public domain,
via Wikimedia Commons'
)}}

<section class="image-text">
  <div class="text">
    <p>
      Prior to World War II, China was undergoing a civil war between the Communists and Nationalists.
      Mao Zedong represented the Communists, and Jiang Jieshi represented the Nationalists.
      Zedong was popular with the peasantry due to the Communist party's efforts to improve literacy and food.
      By the time World War II was over, the Communist party controlled most of the northern part of China.
      Meanwhile, the Nationalists had the military advantage.
      Nationalist forces had built up an army through the course of World War II due to their isolation from the
      Japanese invasion.
      By the end of the war, the Nationalists had 2.5 million people in their army.
      Additionally, the Nationalists received United States aid in the form of nearly 1.5 billion USD with which to
      fight the Japanese, but this money ended up being given to some officers instead.
      After the second World War, the conflict resumed in 1945.

    </p>
  </div>
  {{sbs_img(
  'https://upload.wikimedia.org/wikipedia/commons/3/39/Japanese_Special_Naval_Landing_Forces_in_Battle_of_Shanghai_1937.jpg',
  '<a
    href="https://commons.wikimedia.org/wiki/File:Japanese_Special_Naval_Landing_Forces_in_Battle_of_Shanghai_1937.jpg">Unknown
    photographer, Ministry of the Navy</a>, Public domain, via Wikimedia Commons'
  )}}
</section>
<section class="image-text --flipped">
  <div class="text">
    After fighting continued in 1946, the Nationalists initially had an advantage over the Communists due to their
    larger forces.
    Additionally, the United States provided nearly 2 billion USD in military aid to the Nationalists.
    However, they did not attempt to gain support from the people of China.
    Due to the economy of China collapsing, many Nationalist soldiers left for the Communists.
    Over the course of the next three years, the Communists would push back the Nationalists until they gained control
    of China.
    The Nationalists then fled to Taiwan to escape the Communists.
    The victory of the Communists angered the United States, and in 1950, the newly communist Chinese signed a treaty
    with the Soviet Union.
    The United States would continue to support Taiwan after the takeover of China.
  </div>
  {{sbs_img(
  'https://upload.wikimedia.org/wikipedia/commons/4/49/Long-march.jpg',
  '<a
    href="https://commons.wikimedia.org/wiki/File:Long-march.jpg">http://www.xtimeline.com/evt/view.aspx?id=859315</a>,
  Public domain, via Wikimedia Commons',
  )}}
</section>

<section class="yt-vid"><iframe width="560" height="315"
    src="https://www.youtube-nocookie.com/embed/NIWA-be5McQ?si=mxI7zE_ihfUZv0FG" title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></section>

{% endblock %}