{% extends "_content_page.html" %}
{% from "_components.html" import open_image_btn %}
{% block body %}
<section class="hero"
  style="--img: url('https://upload.wikimedia.org/wikipedia/commons/7/7d/US_Army_tanks_face_off_against_Soviet_tanks%2C_Berlin_1961.jpg');">
  <h1>The Cold War</h1>
  <div class="flexfill"></div>
  {{open_image_btn("https://upload.wikimedia.org/wikipedia/commons/7/7d/US_Army_tanks_face_off_against_Soviet_tanks%2C_Berlin_1961.jpg")}}
</section>
<div class="hero-attr">
  <a href="https://commons.wikimedia.org/wiki/File:US_Army_tanks_face_off_against_Soviet_tanks,_Berlin_1961.jpg">U.S.
    Army photo Photo Credit: USAMHI</a>, Public domain, via Wikimedia Commons
</div>
<section class="text">
  The Cold War was a period of time in which the United States
  and the Soviet Union fought proxy wars and engaged in a nuclear arms race,
  but avoided direct attacks due to the threat of Mutually Assured Destruction.

</section>
{% endblock %}