{% extends "_content_page.html" %}
{% from "_components.html" import sbs_img, single_img, open_image_btn, image_hero %}
{% block body %}
{% call image_hero(
"https://upload.wikimedia.org/wikipedia/commons/f/f8/Peking_Mausoleum_Mao_Zedong-20110102-RM-210354.jpg",
'<a href="https://commons.wikimedia.org/wiki/File:Peking_Mausoleum_Mao_Zedong-20110102-RM-210354.jpg">Ermell</a>, <a
  href="https://creativecommons.org/licenses/by-sa/4.0">CC BY-SA 4.0</a>, via Wikimedia Commons'
) %}
<h1>Middle East & Iran</h1>
{% endcall %}
{{single_img(
'https://upload.wikimedia.org/wikipedia/commons/8/8c/Map_of_Iranian_Azerbaijan_1945-46_insurgency_by_Robert_Rossow_%28corrected%29.svg',
'<a
  href="https://commons.wikimedia.org/wiki/File:Map_of_Iranian_Azerbaijan_1945-46_insurgency_by_Robert_Rossow_(corrected).svg">Iranian
  Azerbaijan</a>, <a href="https://creativecommons.org/licenses/by-sa/4.0">CC BY-SA 4.0</a>, via Wikimedia Commons',
'800/536'
)}}
<section class="image-text">
  <div class="text">
    Due to the discovery of oil in Iran, it became a place of interest for both the United States and the Soviet Union.
    During World War II in 1941, the Iran oilfields and positioning made it a strategic asset for the Allies.
    In order to prevent Iran from falling out of Allied hands, western forces invaded and occupied southern parts of
    Iran, while the Soviets occupied northern areas.
    During this time occupying the area, they grew their influence with the Iranian people.
    In 1945, the Soviet Union created the People's Republic of Azerbaijan.
    The People's Republic's military would then proceed to take over Iran's government buildings, and then proceeded to
    change the economy and national language.
    The party was headed by Mohammed Biriya, and its militia was modeled after the Soviet NKVD.
    The Republic received support from the Iranian locals due to the poor treatment from the previous government as well
    as economic issues.
  </div>
  {{sbs_img(
  'https://upload.wikimedia.org/wikipedia/commons/a/a4/Azerbeidsjan_capituleert%2C_Bestanddeelnr_901-9710_crop.jpg',
  '<a href="https://commons.wikimedia.org/wiki/File:Azerbeidsjan_capituleert,_Bestanddeelnr_901-9710_crop.jpg">Nationaal
    Archief</a>, CC0, via Wikimedia Commons'
  )}}
</section>
<section class="image-text">
  <div class="text">
    By December 1946, the Red Army (owned by the USSR) had withdrawn from supporting the Republic, and they were taken
    down by the government of Tehran.
    The reason for the removal of support was due to the oil fields.
    During WWII, the Allies, including the Soviet Union, agreed to leave Iran within 6 months of the end of the war.
    However, by the time they were required to leave, Great Britain had acquired trade deals to extract oil and share
    profits. The Soviet Union wanted in on these agreements.
    Due to the volatile nature of the state of Iran at the time, the USSR refused to leave until some stability had been
    restored (meaning the acceptance of the Republic.)
    The United States protested this action to the United Nations, pushing the USSR out of Iran after a two-week delay,
    in which the USSR negotiated shares in Iranian oil companies.
    This resolution from the government required Parliament approval, and with the support of the United States, they
    declined the agreement.
    The result of this was the Soviet Union dropping any and all support for Iran.
  </div>
  {{sbs_img(
  'https://upload.wikimedia.org/wikipedia/commons/9/92/Opening_of_the_Parliament_of_the_Azerbaijan_Democratic_Republic.jpg',
  '<a
    href="https://commons.wikimedia.org/wiki/File:Opening_of_the_Parliament_of_the_Azerbaijan_Democratic_Republic.jpg">Azerbaijan
    Agency</a>, Public domain, via Wikimedia Commons'
  )}}
</section>
<section class="yt-vid">
  <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/8JZBtTGFQpI?si=qwZ1PbyxAXGle3z4"
    title="YouTube video player" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</section>
{% endblock %}