{% extends "_content_page.html" %}
{% from "_components.html" import sbs_img, single_img, open_image_btn, image_hero %}
{% block body %}

{% call image_hero(
'https://upload.wikimedia.org/wikipedia/commons/e/e0/Korean_War%2C_train_attack.jpg',
'<a href="https://commons.wikimedia.org/wiki/File:Korean_War,_train_attack.jpg">U.S. Army Military History
  Institute</a>, Public domain, via Wikimedia Commons'
) %}
<h1>Korean War</h1>
{%endcall%}
<section class="image-text">
  <div class="text">
    <p> <!-- 4 -->
      Similarly to Vietnam, after World War II, Korea had been split into two parts:
      North Korea and South Korea.
      The war began when the Democratic People's Republic of Korea (North Korea, abbreviated DPRK)
      attacked the Republic of Korea (South Korea, abbreviated ROK).
      The DPRK was trained and supported with weapons by the Soviet Union,
      as well as the People's Republic of China.
      The invasion (and the Korean War) began on June 25th, 1950, and by the 28th,
      the DPRK forces had captured Seoul, the South Korean capital.
    </p>
  </div>
  {{ sbs_img(
  "https://upload.wikimedia.org/wikipedia/commons/c/c8/Korea_War_Phase_I.svg",
  '<a href="https://commons.wikimedia.org/wiki/File:Korea_War_Phase_I.svg">下一次登录</a>, CC0, via Wikimedia Commons',
  "320/600",
  "background-size: contain;"
  ) }}
</section>
<section class="image-text">
  <div class="text">
    <p> <!-- 4 -->
      In response to the attack, the United States administration took the issue of the
      ongoing war to the United Nations. The United States called for the DPRK forces to leave
      the area below the 38th parallel, where the line between North and South Korea was drawn
      after World War II. They also called for additional assistance to repel the attack.
      At this point, the United States already was providing support to
      the ROK forces by way of arms and air / water support.
    </p>
    <p>
      Once the United States brought its military, alongside United Nations allies, they would push
      DPRK forces northward after recovering Seoul. This push would continue until the 19th of
      October. On that date, the Chinese People's Volunteers would begin to support the DPRK
      effort.
      Due to the increased volume of forces from the CPV, and the fact that the UN forces, in
      capturing a large amount of territory, had overextended itself, the CPV and DPRK successfully
      pushed the UN forces back to the 38th parallel.
    </p>
    <p>
      The war ended on July 27, 1953, after both sides signed an armistice.
    </p>
  </div>
  {{sbs_img(
  "https://upload.wikimedia.org/wikipedia/commons/e/e0/Korean_War%2C_train_attack.jpg",
  '<a href="https://commons.wikimedia.org/wiki/File:Korean_War,_train_attack.jpg">U.S. Army Military History
    Institute</a>, Public domain, via Wikimedia Commons'
  )}}
</section>
{{single_img(
"https://upload.wikimedia.org/wikipedia/commons/8/87/Koreans_join_the_North_Korean_volunteer_army%2C_1950.png",
'<a
  href="https://commons.wikimedia.org/wiki/File:Koreans_join_the_North_Korean_volunteer_army,_1950.png">《人民日报》（1950年11月4日，第682号）</a>,
Public domain, via Wikimedia Commons'
)}}
<section class="yt-vid">
  <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/h1wFrXKanC0?si=bMBXz5nxSpEZxaAW"
    title="YouTube video player" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</section>

{% endblock %}