{% extends "_content_page.html" %}
{% from "_components.html" import sbs_img, single_img, open_image_btn, image_hero %}
{% block body %}

{% call image_hero("https://upload.wikimedia.org/wikipedia/commons/f/f6/Smoke_break_el_serrano_1987.jpg") %}
<h1>Latin America</h1>
{% endcall %}
<div class="hero-attr">
  <a href="https://commons.wikimedia.org/wiki/File:Smoke_break_el_serrano_1987.jpg">Tiomono at English Wikipedia</a>, <a
    href="https://creativecommons.org/licenses/by-sa/3.0">CC BY-SA 3.0</a>, via Wikimedia Commons
</div>
{{single_img(
"https://upload.wikimedia.org/wikipedia/commons/c/c0/10th_anniversary_of_the_Nicaraguan_revolution_in_Managua%2C_1989.jpg",
'<a
  href="https://commons.wikimedia.org/wiki/File:10th_anniversary_of_the_Nicaraguan_revolution_in_Managua,_1989.jpg">tiarescott
  from Managua</a>, <a href="https://creativecommons.org/licenses/by/2.0">CC BY 2.0</a>, via Wikimedia Commons',
"2/1"
)}}
<section class="image-text">
  <div class="text">
    <h3>The Nicaraguan Revolution</h3>
    <p>
      In 1927, in an attempt to end a previous civil war and establish
      stability in the region of Nicaragua, the United States installed
      Anastasio Somoza as commander of the National Guard. After a fraudulent
      election, Somoza became president of Nicaragua.
    </p>
    <p>
      For the next 43 years, Somoza and his family ruled Nicaragua under a harsh dictatorship, with support from the
      United States.
      However, after the Cuban Revolution in 1959, alongside its perpetrator Fidel Castro's anti-American ideas,
      lead to people in Nicaragua rising up against the Somozas and the United States.
      The group of rebels against Somoza formed the <i>Sandinista movement</i>.
      While the United States had decreased its support of the government of Nicaragua, President Carter labeled the
      rebels as Marxists, and was wary of having a Soviet-Cuban effort to infiltrate Latin America.
      However, due to the United States' lack of confidence in the rebels, Somoza was not supported in his position.
      The Sandinista soldiers, with assistance from Cuba and the Soviet Union, surrounded the capital and forced
      Somoza to resign.
    </p>
  </div>
  {{sbs_img(
  "https://upload.wikimedia.org/wikipedia/commons/3/34/NIC_orthographic.svg",
  '<a href="https://commons.wikimedia.org/wiki/File:NIC_orthographic.svg">Addicted04</a>, <a
    href="https://creativecommons.org/licenses/by-sa/3.0">CC BY-SA 3.0</a>, via Wikimedia Commons',
  "1/1"
  )}}
</section>
<section class="image-text --flipped">
  <div class="text">
    <h3>Chile</h3>
    <p>
      In 1961, President John F. Kennedy signed the Alliance for Progress in order to prevent the spread of socialism.
      As part of this alliance, the Alliance would support Latin American countries via investments in their
      infrastructure and education.
      The Alliance would also support creation of democratic governments.
      One such nation who received aid was Chile, and the United States sent aid and assistance to both the current
      Chilean government and various political parties.
    </p>
    <p>
      In the 1964 elections for the President of Chile, the United States provided money to Christian Democratic Party
      (PDC) candidate Eduardo Frei.
      Frei would, in collusion with the United States, negotiate with the copper company Anaconda to nationalize the
      copper mines in Chile.
      This action was controversial, and in the subsequent 1970 elections, Salvador Allende ran for President.
      The United States and current Chilean government wanted to avoid having Allende in office because of his communist
      sympathies, so the U.S. government covertly used its funds to prevent Allende from being elected. This action
      wasn't successful, and Allende proceeded to a run-off election.
      On October 24, the Chilean Congress elected Allende as president by a significant margin.
      After nationalizing many of Chile's farms and factories, on September 11, 1973, the military launched a coup
      against Allende and his government, and two days later, Pinochet was named the President of Chile.
      Pinochet then proceeded to destroy Congress and ended elections in Chile.
    </p>
  </div>
  {{sbs_img(
  'https://upload.wikimedia.org/wikipedia/commons/5/5d/CHL_orthographic.svg',
  '<a href="https://commons.wikimedia.org/wiki/File:CHL_orthographic.svg">Addicted04</a>, Public domain, via Wikimedia
  Commons',
  '1/1'
  )}}
</section>
{{single_img(
'https://upload.wikimedia.org/wikipedia/commons/f/ff/Augusto_Pinochet_foto_oficial.jpg',
'<a href="https://commons.wikimedia.org/wiki/File:Augusto_Pinochet_foto_oficial.jpg">Ministerio de Relaciones Exteriores
  de Chile.</a>, <a href="https://creativecommons.org/licenses/by/2.0/cl/deed.en">CC BY 2.0 CL</a>, via Wikimedia
Commons',
'2/1',
'background-position: top;'
)}}
<section class="yt-vid">
  <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/lhf09VhvXUo?si=zWVx8ReXQvqiskWe"
    title="YouTube video player" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</section>

{% endblock %}