{% extends "_content_page.html" %}
{% from "_components.html" import sbs_img, single_img, open_image_btn, image_hero %}
{% block body %}
{% call image_hero(
"https://upload.wikimedia.org/wikipedia/commons/5/55/CTBTO_-_Symposium_-_26.01.2016_%2824346530770%29.jpg",
'<a href="https://commons.wikimedia.org/wiki/File:CTBTO_-_Symposium_-_26.01.2016_(24346530770).jpg">The Official CTBTO
  Photostream</a>, <a href="https://creativecommons.org/licenses/by/2.0">CC BY 2.0</a>, via Wikimedia Commons'
) %}
<h1>Nuclear Arms Race</h1>
{% endcall %}

{{single_img(
  'https://upload.wikimedia.org/wikipedia/commons/b/bb/US_and_USSR_nuclear_stockpiles.svg',
  '<a href="https://commons.wikimedia.org/wiki/File:US_and_USSR_nuclear_stockpiles.svg">Fastfission</a>, Public domain, via Wikimedia Commons',
  '600/435',
  'background-color: #ffffff;'
)}}

<section class="image-text">
  <div class="text">
    <p>
      A defining feature of the Cold War is the concept of <i>mutually assured destruction</i>.
      Nuclear weaponry is the most powerful weapon available, and has the ability to do large amounts of destruction in
      a short amount of time.
      Due to these destructive capabilities, both the United States and the Soviet Union wanted as many nuclear weapons
      as possible.
      The Soviet Union developed their first nuclear bomb 4 years after the United States dropped the first.
    </p>
    <p>
      Over the course of the Cold War, both the United States and Soviet Union wanted to have superiority.
      The obvious path to superiority for both nations was development of better nuclear weapons.
      Nuclear weapons were valuable as an attacking tool, but they are also effective at preventing attacks when left
      unused.
      This was because of their role as a powerful deterrent to enemy nations.
    </p>
  </div>
  {{sbs_img(
  'https://upload.wikimedia.org/wikipedia/commons/e/e0/Nagasakibomb.jpg',
  '<a href="https://commons.wikimedia.org/wiki/File:Nagasakibomb.jpg">Charles Levy</a>, Public domain, via Wikimedia
  Commons'
  )}}
</section>
<section class="image-text">
  <div class="text">
    <h3>The Race</h3>
    <p>
      Over time, the Soviet Union and United States' goal was to have both the most powerful nuclear weapons, and the
      highest quantity of nuclear weapons.
      The United States would end up spending six trillion dollars on nuclear weapons.
      This massive economic investment produced 10,000 nuclear warheads, while the USSR only had half that amount.
      While the idea behind the race was that it would <em>increase</em> the security of those with the weapons, it
      actually had the opposite effect at several times.
      For example, the Soviets used their nuclear weapons stockpile to threaten Great Britain and France.
      The United States also developed the <em>hydrogen bomb</em>, which was tested on a small island in the Pacific
      Ocean.
      The island was destroyed, and a large crater was left in the ocean floor underneath the island's previous
      location.
      Eventually, these tensions built up to the <a href="cuba.html">Cuban missile crisis</a>, where nuclear war was
      barely avoided.
    </p>
  </div>
  {{sbs_img(
  'https://upload.wikimedia.org/wikipedia/commons/a/ad/Soviet_missile_equipment_beeing_loaded_at_port_in_Cuba_1962.PNG',
  '<a
    href="https://commons.wikimedia.org/wiki/File:Soviet_missile_equipment_beeing_loaded_at_port_in_Cuba_1962.PNG">U.S.
    Department of Defense photo</a>, Public domain, via Wikimedia Commons'
  )}}
</section>

{% endblock %}