{% extends "_content_page.html" %}
{% block body %}
<section class="hero"
  style="--img: url('https://upload.wikimedia.org/wikipedia/commons/f/f4/Stop_Communism_-_NARA_-_5730080.jpg'); background-position: 0 10%;">
  <h1>U.S. and Soviet Union Philosophies</h1>
  <div class="flexfill"></div>
  <a class="icon-btn"
    href="https://upload.wikimedia.org/wikipedia/commons/f/f4/Stop_Communism_-_NARA_-_5730080.jpg"
    title="Go to image">
    <div class="icon --file_open"></div>
  </a>
</section>
<div class="hero-attr">
  National Archives at College Park, Public domain, via Wikimedia Commons
</div>
<section class="text">
  The Cold War was a period of time in which the United States
  and the Soviet Union fought proxy wars and engaged in a nuclear arms race,
  but avoided direct attacks due to the threat of Mutually Assured Destruction.

</section>
{% endblock %}