{% extends "_content_page.html" %}
{% from "_components.html" import sbs_img %}
{% block body %}
<section class="hero"
  style="--img: url('https://upload.wikimedia.org/wikipedia/commons/f/f4/Stop_Communism_-_NARA_-_5730080.jpg'); background-position: 0 10%;">
  <h1>U.S. and Soviet Union Philosophies</h1>
  <div class="flexfill"></div>
  <a class="icon-btn"
    href="https://upload.wikimedia.org/wikipedia/commons/f/f4/Stop_Communism_-_NARA_-_5730080.jpg"
    title="Go to image">
    <div class="icon --file_open"></div>
  </a>
</section>
<div class="hero-attr">
  National Archives at College Park, Public domain, via Wikimedia Commons
</div>
<section class="text">
  <p>
    The United States and Soviet Union had very different philosophies about how government and society should work.
    These differences were one of the main focuses of the war and the reasoning between many of the proxy battles.
  </p>
</section>
<section class="image-text">
  <div class="text">
    <h2>The United States</h2>
    <p>
      <!-- [JSTOR] Origins of the Cold War, Foreign Affairs, page 23 -->
      The United States' philosophy and attitude towards the Cold War was that it was
      a necessary response to the communist agression from the Soviet Union.
      <!-- [state.gov] Cold war diplomacy. -->
      They felt that they needed to combat communism's influence and spread. Instead,
      the United States felt that capitalism was the superior economic
      ideology.
      <!-- [bbc.co.uk] Bytesize: Reasons for the Cold War -->
      Under capitalism, the economy is mostly free from the government's
      control. In March 1947, the current U.S. president, President Truman,
      issued what would become known as the Truman Doctrine. He announced a
      policy to contain communism and prevent it from spreading. He then
      accused the Soviets of encouraging dicatorships in other nations.
      The United States would go on to be a part of NATO, with a mission to
      stop communist expansion in Europe.
    </p>
  </div>
  {{ sbs_img('https://upload.wikimedia.org/wikipedia/commons/f/f4/Stop_Communism_-_NARA_-_5730080.jpg', 'National Archives at College Park, Public domain, via Wikimedia Commons') }}
</section>
<section class="image-text --flipped">
  <div class="text">
    <h2>The Soviet Union</h2>
    <p>
      <!-- [bbc.co.uk] Bytesize: Reasons for the Cold War -->
      The Soviet Union, on the other hand, supported communism as the "correct"
      economic ideology. In October of 1917, the Bolshevik Revolution turned
      Russia into a communist state. Communist states have centralized
      administration of the economy. In addition, communist states give the
      government control of the society.
      
      Stalin wanted a buffer zone between his country and the Western countries
      like Great Britain. In order to accomplish this, he established communist
      regimes in neighboring eastern European countries. This action is what
      gained the opposition of the United States, who wanted to create democratic
      states instead. In reaction to part of Germany
      joining NATO, Stalin and co. established the Warsaw Pact to counter it.
    </p>
  </div>
  {{ sbs_img('https://upload.wikimedia.org/wikipedia/commons/a/af/Dyadya_lenin.jpg', 'Viktor Deni, Public domain, via Wikimedia Commons') }}
  </div>
</section>

{% endblock %}