{% extends "_content_page.html" %}
{% from "_components.html" import sbs_img %}
{% block body %}
<section class="hero"
  style="--img: url('https://upload.wikimedia.org/wikipedia/commons/f/f4/Stop_Communism_-_NARA_-_5730080.jpg'); background-position: 0 10%;">
  <h1>U.S. and Soviet Union Philosophies</h1>
  <div class="flexfill"></div>
  <a class="icon-btn"
    href="https://upload.wikimedia.org/wikipedia/commons/f/f4/Stop_Communism_-_NARA_-_5730080.jpg"
    title="Go to image">
    <div class="icon --file_open"></div>
  </a>
</section>
<div class="hero-attr">
  National Archives at College Park, Public domain, via Wikimedia Commons
</div>
<section class="text">
  <p>
    The United States and Soviet Union had very different philosophies about how government and society should work.
    These differences were one of the main focuses of the war and the reasoning between many of the proxy battles.
  </p>
</section>
<section class="image-text">
  <div class="text">
    <p>
      <!-- [JSTOR] Origins of the Cold War, Foreign Affairs, page 23 -->
      The United States' philosophy and attitude towards the Cold War was that it was
      a necessary response to the communist agression from the Soviet Union.
      <!-- [JSTOR] Ideology and the Cold War, Review of International Studies -->
    </p>
    <div class="fixme">figure it out</div>
    <div class="notice">1</div>
    <div class="notice">2</div>
    <div class="notice">3</div>
    <div class="notice">4</div>
    <div class="notice">5</div>
    <div class="notice">6</div>
    <div class="notice">7</div>
    <div class="notice">8</div>
    <div class="notice">9</div>
    <div class="notice">10</div>
  </div>
  {{ sbs_img('https://upload.wikimedia.org/wikipedia/commons/f/f4/Stop_Communism_-_NARA_-_5730080.jpg', '2351/3000', 'National Archives at College Park, Public domain, via Wikimedia Commons') }}
</section>
<section class="image-text --flipped">
  <div class="text">
    <div class="fixme">image</div>
    <div class="fixme">text: Soviet Union philosophy</div>
  </div>
  {{ sbs_img('https://upload.wikimedia.org/wikipedia/commons/f/f4/Stop_Communism_-_NARA_-_5730080.jpg', '2351/3000', 'National Archives at College Park, Public domain, via Wikimedia Commons') }}
  </div>
</section>

{% endblock %}