{% extends "_content_page.html" %}
{% from "_components.html" import sbs_img, single_img %}
{% block body %}
<section class="hero" style="--img: linear-gradient(to right, #8080ff, #ff8080);">
  <h1>Cold War Timeline</h1>
  <div class="flexfill"></div>
</section>
<section class="image-text">
  <div class="text">
    <h3>February 1945 - The Yalta Conference</h3>
    <p>
      The Yalta Conference was a conference taking place during February 1945.
      The conference was in a Russian resort town, and Franklin D. Roosevelt,
      Winston Churchill, and Joseph Stalin met to make decisions about the war.

      The three agreed on splitting Germany into four zones. The USSR obtained
      East Germany, and France, the United States, and Britain would get West Germany.
      The United States would obtain an agreement from the USSR to assist in the fight
      against Japan, and defined policy for the regions liberated during World War II.

      The conference was important because it was when the USSR officially had control over
      Eastern Europe, and was recognized by the United States and Great Britain.

      This was considered to be the beginning of the Cold War in Europe.
    </p>
  </div>
  {{
  sbs_img("https://upload.wikimedia.org/wikipedia/commons/0/05/Yalta_Conference_%28Churchill%2C_Roosevelt%2C_Stalin%29_%28B%26W%29.jpg",
  "US government photographer, Public domain, via Wikimedia Commons", "2/1") }}
</section>
<section class="image-text">
  <div class="text">
    <h3>July 1945 - The Potsdam Conference</h3>
    <p>
      The Potsdam Conference, similar to the Yalta conference, was a meeting
      between the leaders of the United States, Great Britain, and the USSR.
      However, the President has changed &mdash; now Harry Truman is in office.
      The conference took place in Potsdam, Germany, with the goal to negotiate
      the terms for the end of World War II.

      At the Yalta conference, Stalin had argued for German to pay heavy reparations,
      of which half would go to the Soviet Union. While Roosevelt had agreed to this,
      Truman wanted to decrease the reparations in order to avoid a situation similar
      to the one created with the Treaty of Versailles.

      As part of this conference, Poland received a large section of previously German
      land, then deported millions of Germans who were living on that land.

      This was also when Truman revealed that the United States had detonated an atomic bomb
      to Stalin. However, due to Stalin's extensive intelligence network, this was not news to him.
    </p>
  </div>
  {{ sbs_img("https://upload.wikimedia.org/wikipedia/commons/a/af/Potsdam_conference_1945-8.jpg", "Army Signal Corps
  Collection in the U.S. National Archives., Public domain, via Wikimedia Commons", "2/1") }}
</section>
<section class="image-text">
  <div class="text">
    <h3>February 1946 - Stalin's speech</h3>
    <p>
      On February 9, 1946, Stalin delivered a speech to voters in the Stalin
      Electoral District in Moscow. In this meeting, he blames the capitalist
      system for World War II. He suggests that wars could be avoided if resources
      were distributed between countries in an even way, but that is impossible under
      capitalism.

      He goes on to suggest that capitalism caused World War I as well. Furthermore, he says that
      World War II proved that the Soviet socialist system could work, and that the
      United States and Great Britain respected the new Red Army.

      He also encouraged voting for the Communist Party in the upcoming elections.
    </p>
  </div>
  {{ sbs_img("https://upload.wikimedia.org/wikipedia/commons/f/f1/Stalin_speech_Feb_09_1946.jpg", "Pravda issue 66
  (12634) dated Mar 07 1953, Public domain, via Wikimedia Commons", "2/1") }}
</section>
<section class="image-text">
  <div class="text">
    <h3>Febuary 1946 - The "Long Telegram"</h3>
    <p>
      The "Long Telegram" was a telegram sent by George Kennan to the Secretary of State.
      The name comes from the fact that it was abnormally long &mdash; extending over 5,000 words.
      Sent from the Soviet Union, Kennan describes the harsh Soviet foreign policies.
      Kennan also sent his recommendations for changes to U.S. policy. He suggested educating (dubious) the public about the situation with Russia,
      and also to help guide other countries.

      He also notes that "World communism is like malignant parasite which feeds only on diseased tissue."
      <a href="https://nsarchive2.gwu.edu/coldwar/documents/episode-1/kennan.htm">(source)</a>
    </p>
  </div>
  {{ sbs_img(
  "https://upload.wikimedia.org/wikipedia/commons/4/4b/George_F._Kennan_1947.jpg",
  "Harris & Ewing, Public domain, via Wikimedia Commons",
  "2/1",
  "background-position: top;") }}
</section>
<section class="image-text">
  <div class="text">
    <h3>March 1946 - Iron Curtain Speech</h3>
    <p>
      The "Iron Curtain" speech was delivered by Winston Churchill on
      March 5, 1946. The speech was delivered at Westminster College in Missouri
      with President Truman in attendance.
      After the speech delivered by Stalin, as well as the "Long Telegram", Churchill prepared to face another war.
      In the speech, he refers to an "iron curtain." This refers to the border between the NATO nations and Soviet nations.
    </p>
  </div>
  {{
  sbs_img("https://www.nationalww2museum.org/sites/default/files/styles/wide_medium/public/2021-03/Lead%20Image%20-%20KB%20M-3.jpg",
  "The National WWII Museum -
  https://www.nationalww2museum.org/war/articles/winston-churchills-iron-curtain-speech-march-5-1946", "2/1") }}
</section>
<section class="image-text">
  <div class="text">
    <h3>March 1947 - Truman Doctrine</h3>
    <p>
      On March 12, 1947, President Truman delivered the Truman Doctrine.
      In a speech on the day, Truman declared that the United States would attempt to contain the communist ideas and prevent them from spreading.
      The beliefs driving this declaration were that the Soviets were encouraging dictatorships, and preventing the world economy from functioning correctly.
    </p>
    <p>
      As part of the containment plan, the United States would give aid to countries considered to be liable to be taken by communists.
      This program, known as Marshall Aid, operated on the theory that communism would not exist if the people were happy in a prosperous nation.
    </p>
  </div>
  {{
  sbs_img(
  "https://upload.wikimedia.org/wikipedia/commons/7/78/Truman_desk.jpg",
  "United States Army Signal Corps, Public domain, via Wikimedia Commons",
  "2/1"
  )
  }}
</section>
<section class="text">
  <h3>December 1991 - End of the Cold War</h3>
  <p>
    In December 1991, the Soviet Union dissolved, marking the end of the Cold War.
    Over time, the Soviets started to have a problem: they were falling behind the rest of the world.
    In order to fix this, Gorbachev instituted a 'reconstruction' of the Soviet systems.
    He changed the political system to be more democratic and began elections again.
    Second, he loosened the government's control over the economy.
    And third, he abandoned the idea that all nations should follow communism or socialism.
    This action is what brought an end to the Cold War.
    Afterward, Poland, Czechoslovakia, Hungary, and other USSR nations declared independence, leading to the
    destabilization and collapse of the Soviet Union.
  </p>
</section>
{{single_img(
'https://upload.wikimedia.org/wikipedia/commons/3/3f/USSR_Map_timeline.gif',
'<a href="https://commons.wikimedia.org/wiki/File:USSR_Map_timeline.gif">FreshCorp619</a>, <a
  href="https://creativecommons.org/licenses/by-sa/4.0">CC BY-SA 4.0</a>, via Wikimedia Commons'
)}}
{% endblock %}