@use "lib";
@use "theme";

.mobile-only {
  display: none !important;
}

.menu-list--desktop {
  @include lib.navbar-layout-rules;
  height: 100%;
}

.text {
  max-width: theme.$readable-width;
  margin: 0 auto;
}
$text-align-offset: calc(50vw - (theme.$readable-width / 2) + theme.$hero-padding);
.hero {
  padding-left: $text-align-offset;
}
.hero > h1 {
  max-width: theme.$readable-width;
}
.hero-attr {
  padding-left: $text-align-offset;
} 